.red {
	color: red;
}

.green {
	color: green;
}

.yellow {
	color: gold;
}

.wrapper {
    text-align: center;
}

.content {
	display: inline-block;
}

.bold {
	font-weight: 700;
}