.micro {
	width: auto;
	max-height: 15%;
}

.small {
	width: auto;
	max-height: 30%;
}

.center-h {
	display: block !important;
	margin: auto !important;
	max-height: 100px;
}

.custom-input-small {
	max-width: 20px
}

.search-form {
	padding: 2%;
	background: #FFE3CD;
}

.maximize {
	width: -webkit-fill-available !important;
}

.add-margin {
	margin-left: 5%;
}

.top-btn {
	position: fixed;
	bottom: 5%;
	right: 3%;
	opacity: .9;
	z-index: 99;
}

.smaller-font {
	font-size: 12px;
}

.small-pic {
	max-width: 100px;
}
.popover {
	z-index: 1000 !important;
}
.datepicker-popover {
	z-index: 10000 !important;
}
.large-icon {
	font-size: 1.5em;
}