.edited {
	border-color: #bf7900 !important;
	color: #bf7900 !important;
}

.exist {
    border-color: #b94a48 !important;
    color: #b94a48 !important;
}

.not-exist {
    border-color: #468847 !important;
    color: #468847 !important;
}
.small {
    width: auto;
    max-height: 200px;
}

_:-moz-tree-row(hover), .small {
    width: 100px;
    height: 200px;
}

.center-h {
    display: block;
    margin: auto;
}